.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
  /* width: 100% !important; */
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline input {
  border: none !important;
}
.MuiOutlinedInput-notchedOutline css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  display: none !important;
}

.MuiOutlinedInput-input {
  border: none !important;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiOutlinedInput-input {
  padding: 0 !important;
}

.MuiInputLabel-root {
  display: none !important;
}

.css-1laqsz7-MuiInputAdornment-root {
  display: flex;
  justify-content: right;
  width: 100%;
}
