.site-button-component {
  color: white;

  transition: background-color 0.3s ease-in-out;
  font-size: 16px;
  line-height: 2.2rem;
  border: 1px solid #ffffff;
  outline: unset;
  width: 100%;
  min-height: 40px;
}
.site-button-component :disabled,
button[disabled] {
  background-color: #838383 !important;
  opacity: 0.5;
}
.site-button-component:hover {
  background-color: #838383 !important;

  box-shadow: none;
  color: #fff;
  outline: none;
}
